body{
    background-color: #777;
    widows: 960px;


}

#header {
    display: inline-block;
    width: 960px;
    height:75px;
    background-color: white;
    margin-bottom: 15px;
    text-align: center;
    font-size: 18px;
    padding-top: 38px;
    margin-left: 200px;
    color: grey;



}

#nav{
    display: inline-block;
    width: 960px;
    height:75px;
    background-color: white;
    margin-bottom: 15px;
    text-align: center;
    font-size: 18px;
    padding-top: 38px;
    margin-left: 200px;
    color:grey;


}

#aside{
    display:block;
    height: 250px;
    width:400px;
    background-color: white;
    text-align: center;
    padding-top: 38px;
    margin-right: 200px;
    position: absolute;
    left: 768px;
    color: grey;



    

}

#section{
    display: block;
    background-color: white;
    width: 525px;
    height: 288px;
    text-align: center;
    margin-left:200px;
    margin-right: 150px;
    color:grey;


    

}
#article{
    display:block;
    height:150px;
    width:500px;
    padding-top: 50px;
    background-color: grey;
    position: relative;
    top:45px;
    left: 13px;
    color:white;


    


    
}

.col-sm {
    display:block;
    width:475px;
    height:30px;
    background-color:white;
    margin-bottom: 10px;
    padding-top:15px;
    margin-right: 13px;
    float:right;
    color:grey;


}

.col-sm2 {
    display:block;
    width: 475px;
    height:30px;
    background-color:white;
    padding-top: 8px;
    margin-right: 13px;
    float:right;
    margin-bottom: 70px;
    color:grey;
    


}



#footer{
    display: block;
    background-color: white;
    widows: 960px;
    margin-left: 200px;
    margin-right: 228px;
    text-align: center;
    margin-top: 15px;
    height:45px;
    padding-top:15px;
    color: grey;

}

